<html>

<head>
    <title>ToDo</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="stylesheet" type="text/css" href="./task.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
</head>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">ToDo</a>
    <button onclick="logOut()" action="logOut" class="btn btn-success" type="submit" form="nameform" value="Submit"> Log
        Out </button>
</nav>

<body>
    <div class="container">
        <div class="addTask">
            <input type="text" id="description" placeholder="What will you do today?">
            <button onclick="addToDo()" action="addToDo" class="add-button" type="submit" form="nameform"
                value="Submit">Add</button>
        </div>

        <div class="container">
            <ol class="Pending">
                <h3 id="pending">Pending</h3>
                <!-- Generated from Javascript -->
            </ol>
        </div>

        <div class="container">
            <ol class="Completed">
                <h3 id="completed">Completed</h3>
                <!-- Generated from Javascript -->
            </ol>
        </div>

    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Update Task</h2>
            </div>
            <div class="modal-body">
                <input type="text" id="moddal_value">
                <button id="modals" action="updateToDo" type="button" value="Submit"
                    form="nameform">Update</button>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./task.js"></script>
</body>

</html>